/* global css    */
.first section h2 {
  font-size: 5rem;
  margin: 10px 0;
}

.global-btn {
  width: 140px;
  height: 40px;
  background-color: rgb(0, 0, 0);
  color: white;
}

.global-section {
  padding: 3rem 0;
}

.global-heading {
  font-size: 55px;
  text-align: center;
  margin-bottom: 8px;
}

.global-head-p {
  color: #7b7b7b;
  text-align: center;
}

.first-section p {
  font-size: 2rem;
}

.frist-section {
  background-image: url(images/ab.jpg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding: 20rem 0;
  text-align: center;
  width: 100%;
}

.about-main-div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem 0;
}

.about-main-div {
  width: 80%;
  margin: auto;
}

.about-sub-div2 {
  width: 50%;
}

.about-sub-div2 p {
  color: #7b7b7b;
  margin: 15px 0;
}

.about-sub-div2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.aboutText {
  width: 50%;
  padding-left: 5px;
}
/* this is service Area */
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}

.grid-single-icon {
  padding: 50px;
  text-align: center;
}
.grid-single-icon h2 {
  margin: 15px 0;
}
.grid-single-icon p {
  color: #7b7b7b;
}
.custom-icon-size {
  font-size: 60px;
}
.work-single-img {
  width: 300px;
}

.grid-item {
  padding: 50px;
  text-align: center;
}
.grid-container-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}
.contact-heading {
  font-size: 55px;
  text-align: center;
}
form input {
  width: 252px;
}
.submit-btn {
  width: 150px;
  height: 25px;
  background-color: rgb(195, 56, 56);
  color: white;
}
.global-section {
  text-align: center;
  color: #7b7b7b;
}
